<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="app.svg">
        <link rel="stylesheet" href="light.min.css" />
        <!-- <link rel="stylesheet" href="dark.min.css" /> -->
        <link rel="stylesheet" href="base.css" />
        <title>{{ site.title }}</title>
        <style>
         header h1 { margin: 0; }
         header img { max-width: 256px; }
         header div { margin: 1em; }

         .cols {
             display: flex;
             flex-direction: row;
             justify-content: space-evenly;
             align-items: center;
         }
         .cols img { flex: none; width: 200px; border: 4px solid rgba(0,0,0,0.2); }
         .cols div { flex: 1 1; padding: 2em; min-width: 300px;}

         #screenshots {
             margin: 1em 0;
             display: flex;
             flex-direction: row;
             justify-content: center;
             flex-wrap: wrap;
         }
         #screenshots img { margin: 0.2em; max-height: 300px; }
         #screenshots .close { display: none; }


         #screenshots div:target {
             position: fixed;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background-color: rgba(0,0,0,0.7);
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
         }
         #screenshots div:target .close { display: inline-block; }
         #screenshots div:target img { max-width: 100%; max-height:100%; height: auto; width: auto; }

         @media (max-width: 600px) {
             .cols img { order: 1; }
             .cols div { order: 2; }
             header { flex-direction: column; text-align: center;}
         }
        </style>
    </head>
    <body>
        <div class="darker">
        <section>
            <header>
                <img src="app.svg">
                <div>
                    <h1>{{ site.title }}</h1>
                    <p>{{ site.description }}</p>
                    <p>
                        <a href="https://gitlab.com/pholar/pholar/-/releases"><b>Get Pholar</b></a>
                        <a href="docs/en"><b>Documentation</b></a>
                        <!-- <a href="https://pholar.creative-group.it"><b>Demo</b></a> -->
                    </p>
                </div>
            </header>
        </section>
        </div>
        <section class="cols">
            <img src="img1.jpg" class="thumb">
            <div>
                <h4>Fast search</h4>
                <p>Search photos by metadatas with an easy query language</p>
            </div>
        </section>
        <section class="cols">
            <div>
                <h4>Create and share collections</h4>
                <p>Group photos in collections and share them with custom permissions</p>
            </div>
            <img src="img2.jpg" class="thumb">
        </section>
        <section class="cols">
            <img src="img3.jpg" class="thumb">
            <div>
                <h4>Not only photos</h4>
                <p>Support for more formats than photos (with optional external dependencies), like video, documents, pdf.</p>
            </div>
        </section>
        <section>
            <h3>Features</h3>
            <div class="cols">
                <ul>
                    <li>store metadata in database for fast search</li>
                    <li>simple query language</li>
                    <li>show thumbnail for a reasonable range of media files (images, videos, documents)</li>
                    <li>edit metadata and tags</li>
                    <li>create collections of media for quick access</li>
                </ul>
                <ul>
                    <li>multiuser with basic permission system</li>
                    <li>allow public access to media or keep everything private</li>
                    <li>share media via public links, with optional passwords, expiration date and custom permissions</li>
                    <li>writeback as much as possible of edited medatata</li>
                </ul>
            </div>
        </section>
        <div id="screenshots" class="darker">
            <div id="s001">
                <div class="close">
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s002"><b>&gt;</b></a>
                </div>
                <a href="#s001">
                    <img src="screenshots/001.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s002">
                <div class="close">
                    <a href="#s001"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s003"><b>&gt;</b></a>
                </div>
                <a href="#s002">
                    <img src="screenshots/002.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s003">
                <div class="close">
                    <a href="#s002"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s004"><b>&gt;</b></a>
                </div>
                <a href="#s003">
                    <img src="screenshots/003.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s004">
                <div class="close">
                    <a href="#s003"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s005"><b>&gt;</b></a>
                </div>
                <a href="#s004">
                    <img src="screenshots/004.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s005">
                <div class="close">
                    <a href="#s004"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s006"><b>&gt;</b></a>
                </div>
                <a href="#s005">
                    <img src="screenshots/005.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s006">
                <div class="close">
                    <a href="#s005"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s007"><b>&gt;</b></a>
                </div>
                <a href="#s006">
                    <img src="screenshots/006.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s007">
                <div class="close">
                    <a href="#s006"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s008"><b>&gt;</b></a>
                </div>
                <a href="#s007">
                    <img src="screenshots/007.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s008">
                <div class="close">
                    <a href="#s007"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s009"><b>&gt;</b></a>
                </div>
                <a href="#s008">
                    <img src="screenshots/008.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s009">
                <div class="close">
                    <a href="#s008"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                    <a href="#s010"><b>&gt;</b></a>
                </div>
                <a href="#s009">
                    <img src="screenshots/009.jpg" alt="#" title="#">
                </a>
            </div>
            <div id="s010">
                <div class="close">
                    <a href="#s009"><b>&lt;</b></a>
                    <a href="#screenshots"><b>x</b></a>
                </div>
                <a href="#s010">
                    <img src="screenshots/010.jpg" alt="#" title="#">
                </a>
            </div>
        </div>
        <section>
            <p>Works with <tt>php >= 7.1</tt>, <tt>sqlite</tt> and <tt>ImageMagick</tt></p>
            <p>Optionally takes advantages of external programs to support more file formats:
                <ul>
                    <li><b><tt>ffmpeg</tt> and <tt>ffprobe</tt></b> - for video support</li>
                    <li><b><tt>ghostscript</tt> and <tt>libreoffice</tt></b> - for PDF and office documents support</li>
                </ul>
        </section>
        <section>
            <footer>
                <a href="https://gitlab.com/pholar/pholar/">git</a>
                - <a href="https://gitlab.com/pholar/pholar/-/issues">issues</a>
                <!-- - <a href="https://creative-group.it/pholar.html">pro support</a> -->
            </footer>
        </section>
    </body>
</html>
