<section>
    <footer>
        <a href="/"><img src="/app.svg" class="logo"> Pholar</a>
        - <a href="https://gitlab.com/pholar/pholar/">git</a>
        - <a href="https://gitlab.com/pholar/pholar/-/issues">issues</a>
        <!-- - <a href="https://creative-group.it/pholar.html">pro support</a> -->
    </footer>
</section>
