        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="/app.svg">
        <link rel="stylesheet" href="/light.min.css" />
        <!-- <link rel="stylesheet" href="dark.min.css" /> -->
        <link rel="stylesheet" href="/base.css" />
        {% if page.collection == "posts" %}
            <title>{{ page.title }}</title>
        {% else %}
            <title>{{ site.title }}</title>
        {% endif %}
