<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>
    <body>
        {% include "header.liquid" %}
        <section>
            <article>
                {{ page.content }}
            </article>
        </section>
        {% include "footer.liquid" %}
    </body>
</html>
