<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>
    <body>
        {% include "header.liquid" %}
        <div class="cols">
            <aside>
                <!-- skip docs index -->
                {% if page.permalink != "docs/index.html" %}
                <!-- get current page path as array -->
                {% assign pagep = page.permalink | split:"/" %}

                {% assign categories = collections.posts.pages | map:"categories" | uniq %}

                <!-- loop categories -->
                {% for cat in categories %}
                <h4>{{ cat }}</h4>
                <ul>
                    {% assign posts = collections.posts.pages|where:"categories",cat %}

                    <!-- loop posts -->
                    {% for post in posts %}

                    <!-- get current post path as array -->
                    {% assign postp = post.permalink | split:"/" %}
                    <!-- only if current page and post have same lang (second path element) -->
                    {% if postp[1] == pagep[1] %}
                    <li {% if page.permalink == post.permalink %}class="active"{% endif %}>
                        <a href="/{{ post.permalink }}">{{ post.title }}</a>
                    </li>
                    {% endif %} <!-- /only current lang -->
                    {% endfor %} <!-- /loop posts -->
                </ul>
                {% endfor %} <!-- /loop categories -->
                {% endif %} <!-- /skip docs index -->
            </aside>
            <section>
                <article>
                    {{ page.content }}
                </article>
            </section>
        </div>
        {% include "footer.liquid" %}
    </body>
</html>
